:root {
    --primary: #4294E3;
    --secondary: #8F12FD;
    --light: #F0F6FF;
    --dark: #262B47;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    overflow-x: hidden;
}
button {
    font-family: 'Heebo', sans-serif;
    display: inline-block;
    padding: 2.5rem 6rem;
    border-radius: 3.6rem;
    font-size: 20px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    box-shadow: none;
    width: max-content;
    margin:2rem 1.5rem 1.5rem 0rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.text-primary-gradient{
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heading-text{
    font-family: 'Jost', sans-serif;
    font-size: 3rem;
    color: #262B47;
}

.row {
    max-width: 80%;
    margin: 0 auto;
    padding: 7em 0;
}
.text-center{
    text-align: center;
}
h4.small-text{
    font-size: 2.5em;
    font-family: "Jost" , sans-serif;
    margin-bottom: 0.5em;
    font-weight: 400;
}
h1.title-text
{
    font-size: 4.5em;
    font-family: "Jost" , sans-serif;
}