.container#home{
    position: relative;
    height: 100vh;
    background-color: var(--primary);
}
.container#home header {
    padding: 1.8em 3em;
    min-height: 80px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.container#home header nav{
    display: flex;
    align-items: center;
}
.container#home header nav .logo {
    font-size: 4.5em;
    color: #fff;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    float: left;
}
.container#home header nav .toggler-icon {
    display: none;
}
.container#home header nav .menu-nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    vertical-align: middle;
    line-height: 80px;
    justify-content: center;
    width: 100%;
    z-index: 15;
}
.container#home header nav .menu-nav li a {
    padding: 10px 25px 0px;
    text-decoration: none;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 23px;
}
.container#home .hero-header{
    margin-bottom: 6em;
    padding: 16em 0 0 0;
    background: url(../img/bg-circle.png), url(../img/bg-triangle.png), linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position: left 0px top 0px, right 0px top 50%, center bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.container#home .hero-header .row {
    padding: 4em 0em;
}
.container#home .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container#home .hero-header .hero-text{
    max-width: 75%;
}
.container#home .hero-header .hero-text h1 {
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 5em;
    line-height:70px;
}
.container#home .hero-header .hero-text p {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 2.1em;
    padding: 2em 12em 2em 0em;
    line-height: 30px;
}
.screenshot-carousel{
    position: relative;
    width: 253px;
    height: 500px;
    padding: 15px;
    margin-right: 30px;
}
.screenshot-carousel::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/screenshot-frame.png) center center no-repeat;
    background-size: 253px 500px;
    z-index: 1;
}
.screenshot-carousel img {
    position: relative;
    width: 223px;
    height: 470px;
}
.screenshot-carousel .owl-dots {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.screenshot-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 5px 0;
    width: 15px;
    height: 15px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    border-radius: 15px;
    transition: .5s;
}
.screenshot-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}
.screenshot-carousel .owl-dot.active {
    box-shadow: 0 0 10px var(--dark);
}
.container#about{
    padding: 16em 0em;
}
.container#about .about-content {
    display: flex;
    justify-content: space-between;
    padding: 3em 0;
}
.container#about .about-content .item {
    flex-basis: 50%;
    padding: 0em 1em;
}
.container#about .about-content .count-section{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.container#about .about-content .count-section .item-count{
    display: flex;
}
.container#about .about-content .count-section .item-count h1{
    font-size: 4.5em;
    font-family: "Jost" , sans-serif;
}
.container#about .about-content .count-section .item-count .bx {
    font-size: 5em;
    margin-right: 0.5em;
}
.item p {
    font-size: 2rem;
    font-family: "Heebo", sans-serif;
    color: #919294;
    line-height: 30px;
    margin: 1em 0 1.5em;
}
.features-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    padding: 6em 0em 2em;
}
.features-content .grid-item {
    background-color: #F0F6FF !important;
    padding: 2em;
}
.features-content .grid-item .icon-circle {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 2em;
    text-align: center;
    vertical-align: middle;
}
.features-content .grid-item .icon-circle .bx {
    font-size: 40px;
    color: #fff;
}
.features-content .grid-item h3 {
    font-size: 2.5em;
    font-family: "Jost" , sans-serif;
    color: #262b47;
    margin: 1em 0em;
}
.features-content .grid-item p {
    font-family: "Heebo" , sans-serif;
    color: #919294;
    font-size: 20px;
    line-height: 30px;
}
@media (min-width:320px) and (max-width : 992px) {
    .row {
        max-width: 100%;
        padding: 7em 1em;
   }
    button{
        padding: .5em 2em;
        font-size: 16px;
        margin-right: 30px;
   }
    .container#home header {
        padding: 0.6em 1.5em;
        min-height: 40px;
        background-color: #fff;
   }
    .container#home header nav {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
   }
    .container#home header nav .logo-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.4em 0em;
   }
    .container#home header nav .toggler-icon {
        display: inline-block;
        color: rgb(85, 84, 84);
        font-size: 3em;
        margin-left: auto;
   }
    .container#home header nav .logo {
        font-size: 3.5em;
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
   }
    .container#home header nav .menu-nav {
        flex-direction: column;
        transition: height 1.5s ease-in;
        line-height: 50px;
        margin: 0 ;
        border-top: 1px solid rgb(209, 208, 208);
        max-height: 0;
        transition: max-height 0.5s ease-out;
        overflow: hidden;
   }
    .container#home header nav .menu-nav.open-nav {
        max-height: 600px;
        transition: max-height 0.5s ease-in;
   }
    .container#home header nav .menu-nav li a {
        padding: 5px 0px 0px;
        text-decoration: none;
        color: rgb(98, 92, 92);
        font-family: 'Jost', sans-serif;
        font-size: 1.9em;
   }
    .container#home header nav button{
        display: none;
   }
    .container#home .hero-header{
        margin-bottom: 0em;
        padding: 5em 0 0 0;
        text-align: center;
   }
    .container#home .hero-section {
        flex-direction: column;
   }
    .container#home .hero-header .hero-text{
        padding: 30px 0px 50px;
        max-width: 90%;
   }
    .container#home .hero-header .hero-text h1 {
        font-size: 3em;
        line-height:40px;
   }
    .container#home .hero-header .hero-text p {
        font-size: 1.9em;
        text-align: center;
        padding: 2em 2em 2em 0em;
   }
    .container#about {
        padding: 8em 0em;
   }
    .item h4{
        font-size: 2em;
   }
    .item h1{
        font-size: 2em;
        font-family: "Jost" , sans-serif;
   }
    .item p {
        font-size: 1.3rem;
   }
    .container#about .about-content {
        flex-direction: column;
   }
    .container#about .about-content .item {
        margin: 1.5em 0em;
   }
    .container#about .about-content .count-section {
        width: 100%;
   }
    .container#about .about-content .count-section .item-count .bx {
        font-size: 3em;
   }
    .container#about .about-content button{
        text-align: center;
   }
   .features-content {
    grid-template-columns: 1fr;
    padding: 3em 0em 1em;
}
.features-content .grid-item .icon-circle {
    width: 60px;
    height: 60px;
    padding: 1em;
}
.features-content .grid-item .icon-circle .bx {
    font-size: 30px;
    line-height: 40px;
    
}
.features-content .grid-item h3 {
    font-size: 2.1em;
}
.features-content .grid-item p {
    font-size: 18px;
}
}
@media (min-width:993px) and (max-width:1200px) {
    .row {
        max-width: 85%;
   }
    .container#home header nav .menu-nav li a {
        padding: 10px 20px 0px;
   }
    button {
        padding: 2em 4em;
        font-size: 2em;
   }
    .container#home .hero-header .hero-text h1{
        font-size: 3.6em;
        line-height: 50px;
   }
}
@media (min-width:1400px) {
    .row{
        max-width: 75%;
   }
}
